body {
  background: #242B33;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1110px; 
  padding-right: 10px; 
  padding-left: 10px;
}

.head {
  display: flex;
}

.logo {
  margin:30px 435px 0 405px;
  text-align: center;
}

.logotext {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12em;
  margin-top: 5px;
}

.main-menu ul {
  display: flex;
}

.main-menu li {
  margin:30px 0 0 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.main-menu a {
  color: #fff;
} 