body {
  background: #242B33;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

li {
  color: #fff;
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

input {
  outline:none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-right: 10px; 
  padding-left: 10px;
 }

 .wrapper {
  max-width: 794px;
  margin: 0 auto;
 }

 .logo {
   width: 134px;
   height: 66px;
 }

 .logo img {
   padding-top: 30px;
   margin-bottom: 3px;
 }

 .logotext {
   font-size: 9px;
   line-height: 14px;
   letter-spacing: 0.1254em;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
 }

.main-menu ul {
  margin-left: 435px;
  display: flex;
}

.main-menu li {
  margin-right: 40px;
}

.text {
  padding-top: 230px;
  text-align: center;
  color: #D4C17F;
  font: bold 48px/64px 'Playfair Display', serif;
}

.mouse {
  text-align: center;
}

.mouse img {
  padding-top: 100px;
}

.contact {
  display: flex;
  padding-top: 100px;
}

.information {
  display: flex;
}

.information img {
  width: 21px;
  height: 21px;
  margin: auto;
  margin-right: 5px;
}

.contact-info {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
}

.adress {
  margin-right: 350px;
}

.backimage {
  background: url('/assets/img/Rectangle.png')no-repeat;
}

.image-information {
  display: flex;
  padding-top: 200px;
  margin-bottom: 100px;
}

.info-structure {
  margin-right: 10px;
}

.info-structure img {
  margin: 0 50px 0 50px;
}

.info-structure p {
  padding-top: 50px;
  color: #fff;
  font: normal 20px/300 27px 'Roboto', sans-serif;
  text-align: center;
}

.secondtext {
  padding-bottom: 100px;
  color: #D4C17F;
  text-align: left;
  font: bold 36px/48px 'Playfair Display', serif;
}

.imagefirst {
  display: flex;
 }

.imagefirst img {
  margin:0 30px 30px 0;
}

.wantview {
  background: url('/assets/img/Wanttosee.png')no-repeat;
}

.question {
  padding: 100px 0 50px 0; 
}

.loremtext {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.wantviewtext {
  display: flex;
}

.details {
  display: flex;
  margin-left: 35px;
}

.username {
  margin: 0 30px 35px 0;
  opacity: 65%;
}

input {
  width: 255px;
  height: 50px;
  background: #3E454D;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 27px;
}

::placeholder {
  color: #BEBEBE;
  text-align: center;
}

.conditions {
  display: flex;
  margin: auto;
  padding-bottom: 180px;
}

button {
  width: 255px;
  height: 50px;
  background: #D4C17F;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 27px;
}

.textconditions {
  margin: auto;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-align: center;
}

.btn p {
  margin: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
}

.video {
  display: flex;
  padding-bottom: 180px;
}

.videoplay {
  margin: auto;
}

.map {
  margin: auto;
  width: 1110px;
  height: 358px;
  background-color: #3E454D;
}

.districtmap {
  padding-bottom: 180px;
}

.second {
  padding-bottom: 25px;
}

.secondbtn {
  margin-left: 30px;
}

.question {
  margin-bottom: 180px;
}

.footer {
  padding: 30px 0 55px 0;
  background-color: #3E454D;
}

.logofooter img {
  margin-top: 35px;
}

.oneactions {
  margin-left: 220px;
}

.oneactions li {
  margin-bottom: 15px;
}

.actionscolumn {
  display: flex;
}

.contactsection {
  margin: -20px 0 0 166px;
}

span {
  color: #D4C17F;
}

.contactsection p {
  color: #fff;
}













